.rbc-toolbar button:hover {
    color: #000 !important;
    background-color: #f8fafc !important;
    border-color: #adadad;
}



.rbc-toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 22px !important;
    font-size: 16px;
}

.rbc-toolbar button:active,
.rbc-toolbar button.rbc-active {
    background-image: none;
    box-shadow: none !important;
    background-color: #ea580c !important;
    color: #fff !important;
    border-color: #adadad;
}

.rbc-event,
.rbc-day-slot.rbc-background-event {
    background-color: #ea580c !important;

}

.rbc-event:focus,
.rbc-day-slot.rbc-background-event:focus {

    border: #ea580c !important;
}

.rbc-today {
    background-color: #f3f4f6 !important;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12%;
}

.user-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
    width: 750px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 2px 20px -5px rgba(0, 0, 0, 0.5);

}

.user-card::before {
    position: absolute;
    content: '';
    height: 300%;
    width: 173px;
    background-color: #262626;
    top: -60px;
    left: -105px;

    transform: rotate(17deg);
}

.user-card-img {
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    right: 190px;


}

.user-card-img img {
    width: 600px;
    height: 200px;
    object-fit: cover;
    z-index: 5;

}


.user-card-info {
    text-align: center;
}

.user-card-info h2 {
    font-size: 20px;
    margin: 0;
    margin-bottom: 2px;
    position: absolute;
    left: 40%;
}

.user-card-email p {
    font-size: 14px;


}

.user-card-email p span {
    font-weight: 700;



}


/* @media only screen and (min-width : 768px) {
    .user-card {
        flex-direction: row;
        align-items: flex-start;
    }

    .user-card-img {
        margin-right: 20px;
        margin-bottom: 0;
    }

    .user-card-info {
        text-align: left;
    }
}

@media (max-width:767px) {
    .wrapper {
        padding-top: 3%;
    }

    .user-card::before {
        width: 300%;
        height: 200px;
        transform: rotate(0);
    }

    .user-card-info h2 {
        margin-top: 190px;
        font-size: 25px;
    }

    .user-card-info p span {
        display: block;
        margin-bottom: 15px;
        font-size: 18px;
    }
} */