@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  line-height: 1.5rem;
  font-weight: 300;
  font-size: 1rem;
}

/* toggle start */

/* toggle end */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.sidebar {

  height: 100vh;
  z-index: 2;

}

.topbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.custom-swal2-popup {
  font-size: 10px;
  width: 350px !important;
}

.custom-swal2-title {
  font-size: 14px;
}

.custom-swal2-content {
  font-size: 10px;
}

.swal2-confirm,
.swal2-cancel {
  font-size: 12px !important;
  /* Adjust the button text size as needed */
  padding: 6px 16px;
  /* Adjust padding as needed */
  outline: none;
}

.swal2-confirm {
  background-color: #ea580c;
  /* Adjust confirm button color as needed */
  border: 1px solid#ea580c !important;
  border-radius: 6px !important;
}

.swal2-cancel {
  color: #ea580c !important;
  border: 1px solid#ea580c !important;
  border-radius: 6px !important;
  margin-right: 8px;
  /* Adjust margin between buttons as needed */
}

.swal2-cancel:hover {
  background-color: #ffff !important;
  /* Adjust cancel button hover color as needed */
}

.swal2-confirm:focus,
.swal2-cancel:focus {
  /* Add focus styles here */
  border: none !important;
  /* Change the border style as needed */
}

.swal2-styled:active {
  background-image: none !important;
}

swal2-default-outline:focus {
  box-shadow: none !important;
}

.swal2-confirm:active,
.swal2-cancel:active {
  /* Add active styles here */
  background-color: #ffff !important;
  /* Change the background color as needed */
}

.swal2-confirm:focus {
  box-shadow: none !important;
}

.swal2-styled:hover {
  background-image: none !important;
}

/* 'sm': '640px',
      // => */
@media (max-width: 640px) {
  .filter_pagination {
    text-align: start;
  }
}

@media (max-width: 768px) {
  .filter_pagination {
    text-align: start;
  }
}