@tailwind base;
@tailwind components;
@tailwind utilities;
.content {
  height: 100vh;
  width: 100%;
}
.app {
  height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
}
 .sidebar{

  width: 60px; 
  height: 100vh;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  background-color: #fff;
  
}
.sidebar:hover{
  width: 210px;
}

.sidebar.expand {
  width: 190px;
  min-width: 190px;
  
}

.sidebar .close {
  transition: 0.5 ease-in-out;
}
/* .sidebar.expand span {
  transition: 0.5s ease-in-out;
} */

.sidebar:not(.expand) .sidebar-logo,
.sidebar:not(.expand) a.sidebar-link span {
  /* display: none; */
  opacity: 0;
  visibility: hidden;
}
.sidebar ul{
  height: 100vh;
  position: relative;
}
.sidebar ul li{
  list-style: none;
  margin-top: 12px;
}


.sidebar ul li .sidebar-menu{
  position: relative;
  display: flex;
  white-space: nowrap;
  text-decoration: none;
  
}
.sidebar ul li .sidebar-menu .icon{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 42px;
  height: 35px;
  
}
.sidebar ul li .sidebar-menu .text{
  position: relative;
  height: 35px;
  display: flex;
  letter-spacing: 0.03em;
  align-items: center;
} 
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background: #e0e0e0;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.labelStyles {
  font-size: "20px";
  font-style: "500";
}
/* for user , entity coloumns drawer checkbox color change */
input[type="checkbox"]::before {
  content: "\2713";
  /* Unicode character for checkmark */
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 0.7em;
}
input[type="checkbox"]:checked::before {
  display: block;
}
/* for task input start */
.shadow_box:hover {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  background-color: #ffffff;
}
.shadow_box:focus {
  box-shadow: none;
  background-color: white;
}
.shadow_box:active {
  background-color: white;
}
/* for task input */
/* for hidden button in small screen */
@media (max-width: 640px) {
  .create-btn {
    display: none;
  }
}
/* for hidden button in small screen */
/* all customforms CSS */
.selected-users-container {
  max-height: 120px;
  overflow-y: auto;
}
.user-list {
  max-height: 150px;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* all customforms CSS end*/
/* for breadcrumbs */
.breadcrumbs {
  max-width: 1200px;
  margin-left: 2px;
  font-size: 1.25rem;
}
.breadcrumbs > * {
  display: inline-block;
  margin-right: 5px;
  font-size: 1rem;
}
.breadcrumbs .crumb:after {
  content: ">";
  margin-left: 7px;
}
.breadcrumbs .crumb:last-child::after {
  display: none;
}
.breadcrumbs .crumb a {
  color: #334155;
  font-weight: 600;
}
.breadcrumbs .crumb a:hover {
  color: #ea580c;
  border-bottom: 1px solid #fb923c;
}
/* for breadcrumbs end */
@media (max-width: 640px) {
  .filter_pagination {
    text-align: start;
    padding-left: 10px;
  }
}
@media (max-width: 768px) {
  .filter_pagination {
    text-align: start;
    padding-left: 10px;
  }
}
/* for input select new end*/
.css-1dimb5e-singleValue {
  font-size: 14px !important;
}
@media (max-width: 425px) {
  .teams_img {
    flex-direction: column-reverse;
  }
}
/* Styling for the collaborator container */
.collaborator-container {
  position: relative;
}
/* Styling for the close icon */
.collaborator-container svg {
  width: 0.8rem; 
  height: 0.8rem;
  cursor: pointer;
  padding: 1px;
  background-color: #64748b;
  position: absolute;
  border-radius: 50%;
}
/* Hide the close icon by default */
.collaborator-container .hidden {
  display: none;
}
/* Display the close icon when hovering over the container */
.collaborator-container:hover .hidden {
  display: flex;
}
/* Align the close icon to the top right corner */
.collaborator-container .hidden {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.25rem; 
}
.arrow_breadcrumbs::after {
  content: ">";
  color: #334155;
}
/* this for task overview logs and comments style */
.max-h-comment{
  max-height: calc(100vh - 12rem);
}
.max-h-logs{
  max-height: calc(100vh - 6rem);
}




/*  for date input */
input[type="date"] {
  position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  cursor: pointer;
  height: auto;
  right: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: auto;
}
input[type="date"] {
  justify-content: space-between;
  display: flex;
}
input[type="date"]:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f073";
  color: gray;
  padding: 0 1px;
}
/* for search input */
input[type="search"]::-webkit-search-decoration:hover,
input[type="search"]::-webkit-search-cancel-button:hover {
  cursor: pointer;
}



.orange-progress::-webkit-progress-bar {
  background-color: #f3f3f3; /* Background color of the progress bar */
}

.orange-progress::-webkit-progress-value {
  background-color: #ea580c; /* Color of the progress value */
}

.orange-progress::-moz-progress-bar {
  background-color: #ea580c; /* Color for Firefox */
}


.footer,
.push {
  text-align: center;
  padding: 20px ;

}

 
.footer_alignment {
  display: flex;
  justify-content: space-between;
  align-items: end;
  text-align: justify;
}

/* dont delete this code ask bhavi before delete */
/* 
/* for defult  date input dd/mm/yyy its working in all expect boardmeeting form dont remove */
/* input[type="date"]:in-range::-webkit-datetime-edit-year-field,
input[type="date"]:in-range::-webkit-datetime-edit-month-field,
input[type="date"]:in-range::-webkit-datetime-edit-day-field,
input[type="date"]:in-range::-webkit-datetime-edit-text {
  color: yellow;
}  */
/* for defult  date input dd/mm/yyy its working in all expect boardmeeting form  end */

/* this one also working  dont remove */
/* .date_type:not(:focus):in-range::-webkit-datetime-edit-year-field,
.date_type:not(:focus):in-range::-webkit-datetime-edit-month-field,
.date_type:not(:focus):in-range::-webkit-datetime-edit-day-field,
.date_type:not(:focus):in-range::-webkit-datetime-edit-text {
  opacity: 0;
  filter: invert(40%);
} */
/* .date_type:not(:focus)::-webkit-calendar-picker-indicator {
  filter: grayscale(100%);
} */
/* .date_type::-webkit-calendar-picker-indicator {
  filter:brightness(50%);
} */

/* .date_type {
  position: relative;
}
.date_type::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
  opacity: 0.6;

} */

/* .date_type:before {
  color: lightgrey;
  content: attr(placeholder) !important;
  margin-right: 0.5em;
}
.date_type:focus:before {
  content: '' !important;
} */

/* .date_type::-webkit-calendar-picker-indicator:hover {
  opacity: 1
} */

/* input[type='date']:before {
  content: attr(placeholder)
}
input[type='date']:after {
  content:''
}  

/* dont delete this code ask bhavi before delete  end*/
