@tailwind base;
@tailwind components;
@tailwind utilities;

.content {
  height: 100%;
  width: 100%;
}
.app {
  height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
}
::-webkit-scrollbar {
  width: 3px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.labelStyles {
  font-size: "20px";
  font-style: "500";
}

/* for user , entity coloumns drawer checkbox color change */
input[type="checkbox"]::before {
  content: "\2713";
  /* Unicode character for checkmark */
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  /* Color of the checkmark */
  font-size: 0.7em;
  /* Adjust the font size to decrease the size of the tick mark */
}

input[type="checkbox"]:checked::before {
  display: block;
}

/* for task input start */

.shadow_box:hover {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  background-color: #ffffff;
}

.shadow_box:focus {
  box-shadow: none;
  background-color: white;
}

.shadow_box:active {
  background-color: white;
}

/* for task input */

/* for hidden button in small screen */
@media (max-width: 640px) {
  .create-btn {
      display: none;
  }
}
/* for hidden button in small screen */

/* all customforms CSS */
.selected-users-container {
  max-height: 120px;
  overflow-y: auto;
}

.user-list {
  max-height: 150px;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* all customforms CSS end*/

/* for breadcrumbs */
.breadcrumbs{
  max-width:1200px ;
  margin: 20px auto;
}
.breadcrumbs > *{
  display: inline-block;
  margin-right: 10px;
}
.breadcrumbs .crumb:after{
  content: '>';
  margin-left: 10px;
}
.breadcrumbs .crumb:last-child::after{
  display: none;
}
.breadcrumbs .crumb a{
  color: #ddd;
}

/* for breadcrumbs end */


/* for input select new end*/

.css-1dimb5e-singleValue{
  font-size: 14px !important;
}


/* dont delete this code ask bhavi before delete */
/* 
/* for defult  date input dd/mm/yyy its working in all expect boardmeeting form dont remove */
 /* input[type="date"]:in-range::-webkit-datetime-edit-year-field,
input[type="date"]:in-range::-webkit-datetime-edit-month-field,
input[type="date"]:in-range::-webkit-datetime-edit-day-field,
input[type="date"]:in-range::-webkit-datetime-edit-text {
  color: transparent;
}  */
/* for defult  date input dd/mm/yyy its working in all expect boardmeeting form  end */

/* this one also working  dont remove */
.date_type:not(:focus):in-range::-webkit-datetime-edit-year-field,
.date_type:not(:focus):in-range::-webkit-datetime-edit-month-field,
.date_type:not(:focus):in-range::-webkit-datetime-edit-day-field,
.date_type:not(:focus):in-range::-webkit-datetime-edit-text 
{
   opacity: 0;
  filter: invert(40%);
  /* filter: grayscale(20%) */
} 
/* .date_type:not(:focus)::-webkit-calendar-picker-indicator {
  filter: grayscale(100%);
} */
/* .date_type::-webkit-calendar-picker-indicator {
  filter:brightness(50%);
} */
.date_type::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
  opacity: 0.6;
  filter: invert(0.6);
  }
 
/* .date_type:before {
  color: lightgrey;
  content: attr(placeholder) !important;
  margin-right: 0.5em;
}
.date_type:focus:before {
  content: '' !important;
} */

/* .date_type::-webkit-calendar-picker-indicator:hover {
  opacity: 1
} */


 /* input[type='date']:before {
  content: attr(placeholder)
}
input[type='date']:after {
  content:''
}  
/* dont delete this code ask bhavi before delete  end*/
@media (max-width:425px) {
  .teams_img{
    flex-direction: column-reverse;
  }
} 