@tailwind base;
@tailwind components;
@tailwind utilities;

.content {
  height: 100%;
  width: 100%;
}
.app {
  height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
}
::-webkit-scrollbar {
  width: 3px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.labelStyles {
  font-size: "20px";
  font-style: "500";
}

/* for user , entity coloumns drawer checkbox color change */
input[type="checkbox"]::before {
  content: "\2713";
  /* Unicode character for checkmark */
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  /* Color of the checkmark */
  font-size: 0.7em;
  /* Adjust the font size to decrease the size of the tick mark */
}

input[type="checkbox"]:checked::before {
  display: block;
}

/* for task input start */

.shadow_box:hover {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  background-color: #ffffff;
}

.shadow_box:focus {
  box-shadow: none;
  background-color: white;
}

.shadow_box:active {
  background-color: white;
}

/* for task input */

/* for delete button hover */
.delete-button {
  position: relative;
}

.delete-button .icon {
  position: absolute;

  left: 50%;
  top: 0.5%;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);
}

.delete-button .icon .lid {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 53%;
  width: 30%;
  height: 4%;
  background-color: #475569;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transform: translateX(-50%);
  transform-origin: left bottom;
  transition: transform 0.3s ease-in-out;
}

.delete-button .icon .can {
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: 14%;
  width: 22%;
  height: 25%;
  background-color: #475569;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  transform: translateX(-50%);
}

.delete-button:hover .icon .lid {
  transform: translateX(-50%) rotate(-35deg);
}

.delete-button .icon .lid::before {
  content: "";
  position: absolute;
  left: 50%;

  bottom: 100%;
  width: 10%;
  height: 50%;
  border: 2px solid #475569;
  transform: translateX(-50%) translateY(2px);
}

.delete-button .icon .can::before,
.delete-button .icon .can::after {
  content: "";
  position: absolute;
  top: 20%;
  bottom: 20%;
  width: 14%;
  background-color: #ffffff;
}

.delete-button .icon .can::before {
  left: 15%;
}

.delete-button .icon .can::after {
  left: 70%;
}

.delete-button .icon .trash {
  position: absolute;
  z-index: 1;
  left: 100%;
  top: 0;
  width: 14%;
  height: 20%;
  border-radius: 25%;
  background-color: #ffffff;
  opacity: 0;
}

.delete-button.clicked .icon .trash {
  animation: trash 0.5s forwards linear;
}

/* end delete icon css */

/* for input placeholder */
.placeholder-small::placeholder {
  font-size: small;
}
/* for input placeholder end*/




/* dont delete this code ask bhavi before delete */
/* 
/* for defult  date input dd/mm/yyy its working in all expect boardmeeting form dont remove */
 /* input[type="date"]:in-range::-webkit-datetime-edit-year-field,
input[type="date"]:in-range::-webkit-datetime-edit-month-field,
input[type="date"]:in-range::-webkit-datetime-edit-day-field,
input[type="date"]:in-range::-webkit-datetime-edit-text {
  color: transparent;
}  */
/* for defult  date input dd/mm/yyy its working in all expect boardmeeting form  end */

/* this one also working  dont remove */
/* input[type='date']:not(:focus):in-range::-webkit-datetime-edit-year-field,
input[type='date']:not(:focus):in-range::-webkit-datetime-edit-month-field,
input[type='date']:not(:focus):in-range::-webkit-datetime-edit-day-field,
input[type='date']:not(:focus):in-range::-webkit-datetime-edit-text 
{
  color: transparent ;
} */
/* input[type='date']:before {
  content: attr(placeholder)
}
input[type='date']:after {
  content:''
} */ 
/* dont delete this code ask bhavi before delete  end*/