.rbc-toolbar button:hover {
    color: #000 !important;
    background-color: #f8fafc !important;
    border-color: #adadad;
}



.rbc-toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 22px !important;
    font-size: 16px;
}

.rbc-toolbar button:active,
.rbc-toolbar button.rbc-active {
    background-image: none;
    box-shadow: none !important;
    background-color: #ea580c !important;
    color: #fff !important;
    border-color: #adadad;
}

.rbc-event,
.rbc-day-slot.rbc-background-event {
    background-color: #ea580c !important;

}

.rbc-event:focus,
.rbc-day-slot.rbc-background-event:focus {

    border: #ea580c !important;
}

.rbc-today {
    background-color: #f3f4f6 !important;
}